<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="3.1">
    <servlet>
        <servlet-name>File</servlet-name>
        <servlet-class>rnd.FileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verify</servlet-name>
        <servlet-class>rnd.VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Debug</servlet-name>
        <servlet-class>rnd.DebugServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>File</servlet-name>
        <url-pattern>/files/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verify</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Debug</servlet-name>
        <url-pattern>/debug</url-pattern>
    </servlet-mapping>
    
    <listener>
        <listener-class>rnd.Cache</listener-class>
    </listener>
    
    <context-param>
        <param-name>cacheRoot</param-name>
        <param-value>/home/s1010048/projects/idea/TravelServer/cache</param-value>
    </context-param>
    <context-param>
        <param-name>cacheMeta</param-name>
        <param-value>/home/s1010048/projects/idea/TravelServer/cache-meta.json</param-value>
    </context-param>
    <context-param>
        <param-name>digestAlgorithm</param-name>
        <param-value>SHA-256</param-value>
    </context-param>
    <context-param>
        <param-name>modelPattern</param-name>
        <param-value>models/.*</param-value>
    </context-param>
</web-app>
